---
import { Image } from 'astro:assets';
import Icon from '../Icon.astro';
import type { TFeatureMasonryItem } from './types';
import kubernetesLogo from '../../images/kubernetes-logo.svg';
import dockerLogo from '../../images/docker-logo.png';

type Props = TFeatureMasonryItem;

const { id, title, description, gridArea, icon, color, showDocker, showHelm } =
  Astro.props;
---

<div
  class="feature-masonry-item"
  style={{
    gridArea,
  }}
>
  <Icon
    name={icon}
    size={32}
    color={color}
    weight="duotone"
    class="feature-masonry-icon"
  />
  <Icon
    name={icon}
    color={color}
    weight="light"
    class="feature-masonry-bg-icon"
  />
  <h3>{title}</h3>
  <p class="feature-masonry-description">{description}</p>
  {
    showHelm && (
      <p class="small feature-masonry-perk">
        <Image
          alt="kubernetes logo"
          src={kubernetesLogo}
          width={18}
          height={18}
        />
        Built on top of Kubernetes
      </p>
    )
  }
  {
    showDocker && (
      <p class="small feature-masonry-perk">
        <Image alt="docker logo" src={dockerLogo} width={18} height={18} />
        Runs any Docker image
      </p>
    )
  }
</div>

<style lang="scss">
  @use '../../styles/mixins';

  .feature-masonry-item {
    @include mixins.card-mobile;
    display: flex;
    align-items: center;
    flex-direction: column;
    break-inside: avoid;
    overflow: hidden;
    justify-content: center;
    position: relative;

    .title-and-description {
      position: relative;
      z-index: 1;
    }

    .feature-masonry-description {
      margin-bottom: 0.75rem;
    }

    .feature-masonry-perk {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      margin-top: 0.2rem;

      > img {
        opacity: 0.7;
      }
    }

    @include mixins.respond-to('tablet') {
      @include mixins.card-desktop;
      min-height: 14rem;
      text-align: center;
    }
  }

  :global(.feature-masonry-icon) {
    margin-bottom: 1rem;
  }

  :global(.feature-masonry-bg-icon) {
    @include mixins.card-bg-icon;
  }
</style>
