---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { StackIcon } from '@phosphor-icons/react';
import AiSectionHeader from '../../ai/_components/AiSectionHeader.astro';
import AiHr from '../../ai/_components/AiHr.astro';
import AiLink from '../../ai/_components/AiLink.astro';
import cursorLogo from '../../../images/cursor-logo.webp';
import vscodeLogo from '../../../images/vscode-logo.svg';

const components = await getCollection('component');
const lovable = components.find((component) => component.data.identifier === 'lovable')!;
const supabase = components.find((component) => component.data.identifier === 'supabase')!;
const n8n = components.find((component) => component.data.identifier === 'n8n')!;
const node = components.find((component) => component.data.identifier === 'node')!;
const ghost = components.find((component) => component.data.identifier === 'ghost')!;
const laravel = components.find((component) => component.data.identifier === 'laravel')!;
const postgres = components.find((component) => component.data.identifier === 'postgres')!;
---

<section class="main">
  <AiSectionHeader>
    <StackIcon />
    <h2>Support For Any Stack</h2>
    <p>Diploi works with any IDE that supports SSH. We offer first-class support for the most popular AI-native editors.</p>
  </AiSectionHeader>
  <section class="list">
    <article>
      <ul>
        <li>
          <Image width={32} height={32} src={cursorLogo} alt="cursor logo" />
          Cursor for development
        </li>
        <hr />
        <li>
          <img alt="lovable icon" src={`data:image/svg+xml;base64,${lovable.data.icon}`} width={32} height={32} />
          Frontend created with Lovable
        </li>
        <li>
          <img alt="supabase icon" src={`data:image/svg+xml;base64,${supabase.data.icon}`} width={32} height={32} />
          Self-hosted <a href="/component/supabase">Supabase</a> as the backend
        </li>
        <li>
          <img alt="n8n icon" src={`data:image/svg+xml;base64,${n8n.data.icon}`} width={32} height={32} />
          <a href="/component/n8n">n8n</a> for AI automation
        </li>
      </ul>
    </article>
    <AiHr vertical />
    <article>
      <ul>
        <li>
          <Image width={32} height={32} src={vscodeLogo} alt="vs code logo" />
          VS Code for development
        </li>
        <hr />
        <li>
          <img alt="lovable icon" src={`data:image/svg+xml;base64,${lovable.data.icon}`} width={32} height={32} />
          Frontend created with Lovable
        </li>
        <li>
          <img alt="node icon" src={`data:image/svg+xml;base64,${node.data.icon}`} width={32} height={32} />
          Custom <a href="/component/node">Node.js</a> backend
        </li>
        <li>
          <img alt="ghost icon" src={`data:image/svg+xml;base64,${ghost.data.icon}`} width={32} height={32} />
          <a href="/component/ghost">Ghost</a> as a CMS
        </li>
      </ul>
    </article>
    <AiHr vertical />
    <article>
      <ul>
        <li>
          <Image width={32} height={32} src={vscodeLogo} alt="vs code logo" />
          VS Code for development
        </li>
        <hr />
        <li>
          <img alt="lovable icon" src={`data:image/svg+xml;base64,${lovable.data.icon}`} width={32} height={32} />
          Frontend created with Lovable
        </li>
        <li>
          <img alt="laravel icon" src={`data:image/svg+xml;base64,${laravel.data.icon}`} width={32} height={32} />
          An API created with <a href="/component/laravel">Laravel</a>
        </li>
        <li>
          <img alt="postgres icon" src={`data:image/svg+xml;base64,${postgres.data.icon}`} width={32} height={32} />
          PostgreSQL for data storage
        </li>
      </ul>
    </article>
  </section>
  <AiLink href="/dev">Remote development with Diploi</AiLink>
</section>

<style lang="scss">
  @use '../../../styles/mixins';

  .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width-page-section);
  }

  .list {
    display: flex;
    gap: 32px;

    @media (max-width: 860px) {
      flex-direction: column;
    }

    > article {
      flex: 1;

      > img {
        max-width: 100%;
      }

      > section {
        margin-top: 16px;

        :global(span) {
          transform: translateY(-2px);
        }

        > svg {
          color: var(--color-primary);
        }

        > ul > li {
          font-size: 1.25rem;
          font-weight: 350;
          color: var(--color-text-secondary);
        }
      }
    }
  }
</style>
