---
import { Image } from 'astro:assets';
import { ArrowUpRightIcon, SparkleIcon } from '@phosphor-icons/react';
import StackBuilderButton from './StackBuilderButton.astro';
import { extractRepositoryOwnerAndRepo } from './utils';

type Props = {
  name: string;
  url: string;
  href: string;
};

const { name, url, href } = Astro.props;

const { owner, repo } = extractRepositoryOwnerAndRepo(url);

const imageSrc = `https://diploi.b-cdn.net/component/${owner}/${repo}/icon.svg?ref=main`;
---

<StackBuilderButton component="a" class="callout" href={href}>
  <strong class="new">
    <SparkleIcon weight="fill" size={12} /> New
  </strong>
  <div class="label">
    <Image alt={`${name} icon`} src={imageSrc} class="icon" width={28} height={28} />
    <span>
      <span>Import from {name}</span>
      <span class="downloads">Go to import page</span>
    </span>
  </div>
  <ArrowUpRightIcon size={28} weight="bold" className="arrow" />
</StackBuilderButton>

<style>
  .arrow {
    color: var(--color-border);
  }
</style>
