---
import { Code } from 'astro:components';
import { shikiTheme } from '../../shiki-theme';
import { components, addons, mockYaml } from './data';
import StackBuilderBlockButton from './StackBuilderBlockButton.astro';
import SubSectionHeader from '../SubSectionHeader.astro';
import ArrowLink from '../ArrowLink.astro';
import Icon from '../Icon.astro';

---

<div class="stack-builder">
  <div class="grid">
    <div class="header components">
      <SubSectionHeader
        title="Components"
        description="Base blocks of your Stack. All code is editable."
        class="header-components"
      />
    </div>
    <div class="blocks-container components">
      <div class="blocks components">
        {
          components.map((component) => (
            <StackBuilderBlockButton {...component} class="component" />
          ))
        }
      </div>
      <ArrowLink href="TODO" text="Browse All" />
    </div>
    <div class="header addons">
      <SubSectionHeader
        title="Add-ons"
        description="Complementary services. Configurable with config."
      />
    </div>
    <div class="blocks-container addons">
      <div class="blocks addons">
        {
          addons.map((addon) => (
            <StackBuilderBlockButton {...addon} class="addon" />
          ))
        }
      </div>
      <ArrowLink href="TODO" text="Browse All" />
    </div>
    <article class="code-card">
      <label>config.yaml</label>
      <Code
        wrap
        code={mockYaml}
        lang="yaml"
        class="code"
        defaultColor={false}
        theme={shikiTheme}
      />
    </article>
  </div>
  <div class="ctas">
    <button id="button-launch-stack" class="secondary" disabled>
      <span class="blobs"></span>
      <span class="text">
        Launch Stack

        <span class="rocket">
          <Icon name="Rocket"  weight="regular" />
        </span>
      </span>
    </button>
    <!-- <p class="small">Try Diploi with a single-click.</p> -->
  </div>
</div>
<script>
  let selectedComponentIds = [];
  let selectedAddonIds = [];

  const launchButton = document.getElementById('button-launch-stack');
  launchButton.disabled = true;
  const buttons = document.querySelectorAll('.stack-builder-button');

  const defaultComponentId = 'reactVite';
  const defaultAddonId = 'postgres';

  // <!-- const defaultComponentButton = document.querySelector( -->
  // <!--   `.stack-builder-button.component[data-id="${defaultComponentId}"]`, -->
  // <!-- ); -->
  // <!-- if (defaultComponentButton) { -->
  // <!--   defaultComponentButton.classList.add('is-selected'); -->
  // <!--   const checkbox = defaultComponentButton.querySelector( -->
  // <!--     'input[type="checkbox"]', -->
  // <!--   ); -->
  // <!--   if (checkbox) { -->
  // <!--     checkbox.checked = true; -->
  // <!--   } -->
  // <!--   selectedComponentIds.push(defaultComponentId); -->
  // <!-- } -->
  // <!---->
  // <!-- const defaultAddonButton = document.querySelector( -->
  // <!--   `.stack-builder-button.addon[data-id="${defaultAddonId}"]`, -->
  // <!-- ); -->
  // <!-- if (defaultAddonButton) { -->
  // <!--   defaultAddonButton.classList.add('is-selected'); -->
  // <!--   const checkbox = defaultAddonButton.querySelector('input[type="checkbox"]'); -->
  // <!--   if (checkbox) { -->
  // <!--     checkbox.checked = true; -->
  // <!--   } -->
  // <!--   selectedAddonIds.push(defaultAddonId); -->
  // <!-- } -->

  launchButton.disabled =
    selectedComponentIds.length === 0 && selectedAddonIds.length === 0;

  const toggleSelection = (currentSelectedIds, id) => {
    let nextSelectedIds = currentSelectedIds;
    if (nextSelectedIds.includes(id)) {
      nextSelectedIds = nextSelectedIds.filter((blockId) => blockId !== id);
    } else {
      nextSelectedIds.push(id);
    }
    return nextSelectedIds;
  };

  buttons.forEach((button) => {
    button.addEventListener('click', (event) => {
      event.preventDefault();

      button.classList.toggle('is-selected');

      const checkbox = button.querySelector('input[type="checkbox"]');
      if (checkbox) {
        checkbox.checked = !checkbox.checked;
      }

      const id = button.getAttribute('data-id');
      const isComponent = button.classList.contains('component');
      const isAddon = button.classList.contains('addon');

      if (isComponent) {
        selectedComponentIds = toggleSelection(selectedComponentIds, id);
      }

      if (isAddon) {
        selectedAddonIds = toggleSelection(selectedAddonIds, id);
      }

      launchButton.disabled =
        selectedComponentIds.length === 0 && selectedAddonIds.length === 0;
    });
  });
</script>

<style lang="scss">
  @use '../../styles/mixins';

  .code-card {
    @include mixins.card-desktop;
    height: fit-content;
    grid-area: preview;
    background-color: var(--color-bg-secondary-20);

    > label {
      position: absolute;
      background: var(--color-bg-secondary);
      top: 0;
      right: 0;
      padding: 0 var(--space-s);
      border-bottom-left-radius: var(--border-radius-medium);
      line-height: 1.5rem;
      color: var(--color-text-secondary);
      font-weight: 400;
      font-family: var(--font-body);
      font-size: 0.875rem;
    }
    pre {
      margin: 0 !important;
      font-size: 1rem !important;
    }
  }

  .stack-builder {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
  }

  #button-launch-stack {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
    font-size: 1.25rem;
    position: relative;
    overflow: hidden;
    transition: border-color 300ms ease;

    &::after {
      content: '';
      opacity: 0;
      pointer-events: none;
      position: absolute;
      inset: 0px;
      padding: 1px;
      border-radius: inherit;
      filter: saturate(2);
      background: linear-gradient(
        to right,
        var(--color-accent-primary),
        var(--color-accent-secondary)
      );
      -webkit-mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
      mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      transition: opacity 300ms ease;
    }

    .text {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      gap: var(--space-l);
    }
    .rocket {
      display: flex;
    }

    @keyframes vibrate {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(2px);
      }
      100% {
        transform: translateX(0);
      }
    }

    > .blobs {
      position: absolute;
      inset: 0;
      pointer-events: none;
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 300%;
        aspect-ratio: 1/1;
        background-color: red;
        display: block;
        border-radius: 50%;
        opacity: 0.25;
        filter: blur(30px) saturate(3);
        animation: anime 16s linear infinite;
        transform: scale(0);
        transition: transform 300ms ease;
      }
      &::before {
        left: -50%;
        background-color: var(--color-accent-primary);
      }
      &::after {
        right: -50%;
        background-color: var(--color-accent-secondary);
      }
    }

    &:not(:disabled) {
      border-color: transparent;
      .rocket {
        animation: vibrate 160ms ease-in-out infinite;
      }
      .blobs {
        &::before,
        &::after {
          transform: scale(1);
        }
      }
      &::after {
        opacity: 1;
      }

      &:hover {
        > .blobs {
          &::before,
          &::after {
            transform: scale(1.5);
          }
        }
        background-color: transparent;
      }
    }
  }

  .grid {
    display: flex;
    flex-direction: column;

    @include mixins.respond-to('tablet') {
      display: grid;
      grid-column-gap: var(--space-xxl);
      grid-row-gap: var(--space-l);
      grid-template-columns: 1.5fr 1fr;
      grid-template-areas:
        'components-header .'
        'components preview'
        'addons-header preview'
        'addons preview';
    }
  }

  .header {
    margin-bottom: var(--space-l);
    &.components {
      grid-area: components-header;
    }
    &.addons {
      grid-area: addons-header;
    }

    @include mixins.respond-to('tablet') {
      &.components,
      &.addons {
        margin-bottom: 0;
      }
    }
  }

  .blocks-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    &.components {
      grid-area: components;
      margin-bottom: var(--space-xxl);
    }
    &.addons {
      grid-area: addons;
    }
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    @include mixins.respond-to('tablet') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.respond-to('laptop') {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .ctas {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);

    > div {
      display: flex;
      gap: var(--space-m);
    }

    p {
      max-width: unset;
    }

    @include mixins.respond-to('tablet') {
      align-items: center;
    }
  }
</style>
