---
import { templates } from './templates';
import TemplateCard from './TemplateCard.astro';

type Props = {
  filterBySlug?: string;
};

const { filterBySlug } = Astro.props;
---

<section>
  {
    templates
      .filter((template) =>
        !filterBySlug ? true : template.slug === filterBySlug
      )
      .map((template) => (
        <TemplateCard
          slug={template.slug}
          title={template.title}
          image={template.image}
          imageAlt={template.imageAlt}
          features={template.features}
          showLearnMore={!filterBySlug}
        />
      ))
  }
</section>

<script>
  import { launchTemplateWithTryOut } from './utils';

  const launch = (event: Event) => {
    const button = event.target as HTMLButtonElement;
    const template = button.getAttribute('data-launch') as string;
    button.setAttribute('disabled', 'true');

    launchTemplateWithTryOut(template);
  };

  const launchMacke = (event: Event) => {
    const button = event.target as HTMLButtonElement;
    const template = button.getAttribute('data-launch-macke') as string;
    button.setAttribute('disabled', 'true');

    launchTemplateWithTryOut(template, 'https://macke.diploi.dev');
  };

  const buttons = document.querySelectorAll(`[data-launch]`);
  buttons.forEach((button) => button.addEventListener('click', launch));

  const buttonsMacke = document.querySelectorAll(`[data-launch-macke]`);
  buttonsMacke.forEach((button) =>
    button.addEventListener('click', launchMacke)
  );
</script>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
    max-width: 1200px;
  }
</style>
